<html>

<body>
<div class="container">
<div class="jumbotron">
  <h1>gCamp</h1>
  <p>Your life, organized.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://farm4.staticflickr.com/3841/14781942381_d6472c70de_b.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://farm3.staticflickr.com/2105/2197888496_c43488fc0e_b.jpg" alt="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Tasks</h3>
  </div>
  <div class="panel-body">
    Grouped by projects and lists. Just the way you like'em
  </div>
</div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Documents</h3>
  </div>
  <div class="panel-body">
    <ul><li>Upload
    <li>Comment
    <li>Revise
    </ul>
  </div>
</div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Comments</h3>
  </div>
  <div class="panel-body">
    -Comment on tasks and communicate<br>
    -Get email notifications
  </div>
</div>
  </div>
</div>
</div>



<ul>“Git to tha choppa!” - Arnold Schwarzeneggar</ul>

<ul>“Milk is for babies. When you grow up you have to drink beer.” - Arnold Schwarzeneggar</ul>

<ul>“Arghghughgh.” -Arnold Schwarzenegger</ul>


</body>
</html>
