<h1>Frequently Asked Questions</h1>
<br>
<div class="row">
  <div class="col-md-8">

    <% @questions.each do |question| %>
    <p>
      <strong><%= question[0]%></strong>
    </p>
    <%= question[1]%>
    <p>
      <br>
      <br>
      <% end %>
    </div>
  </div>

  
