<h1>Frequently Asked Questions</h1>
<br>
<div class="row">
  <div class="col-md-8">

    <% @faqs.each do |faq| %>
    <p>
      <strong>
        <%= faq.question %>
      </strong>
    </p>
    <p>
    <%= faq.answer%>
    </p>
      <% end %>
    </div>
  </div>
