<!DOCTYPE html>
<html>

<head>
  <title>GCampDavidDang</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class ="container">
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="home">gCamp</a>
  </div>
</nav>

<%= yield %>


<hr>
<div class= "footer-fixed-bottom">
<a href="about">About</a> | <a href="terms">Terms</a> | <a href="FAQ">FAQ</a>
</footer>






</div>
</body>


</html>
